<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ToDo App</title>
  </head>
  <body>
    <div id="root"></div>
</body>
<script src="bundle.js"></script>
</html>